body{
    font-family: 'Basic', sans-serif;
}
/* HEADER */
.navbar-nav a{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
.navbar-toggler{
    border-color: transparent !important;
    color: transparent !important;
}
.navbar{
    box-shadow: 0 6px 10px -6px rgb(165, 161, 161);
    background-color: white !important;
}
/* A CERCA DE MI */
.img-profile{
    border-radius: 50%;
}
.about-me{
    margin-top: 100px;
}
/* SKILLS */
.skills{
    background-color: #b4b1b1;
}
.icons-skills{
    font-size: 4em;
}
/* FOOTER */
.footer{
    background-color: #615d5d;
    height: 100px;
    color: white;
}